body {
    background-color: pink;
}

#title {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: hotpink;
    font-size: 2rem;
    margin: 10px;
}

#selectArea{
    display: block;
    text-align: center;
}

.selectDiv {
    display: inline-block;
    margin: 20px;
    max-width: 50%;
}

.imgchoose  {
    max-width: 8rem;
}

.checkboxArea {
    /* display: inline-block; */
    /* max-width: 50%; */
}