body {
    background-color: rgb(230, 255, 180);
}

#title {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: hotpink;
    font-size: 2rem;
    margin: 10px;
}

#selectArea{
    display: block;
    /* margin-left: 50%; */
    text-align: center;
}

.selectDiv {
    display: inline-block;
    margin: 20px;
    max-width: 50%;
}

.imgchoose  {
    /* max-width: 50%;
    min-width: 20%; */
    max-width: 10rem;
}

.checkboxArea {
    /* display: inline-block; */
    max-width: 50%;
}